<div class="container-fluid vh-100 ">

    <div class="box   mt-3 ">

        <img class="img " src={{content.img}} alt="">
        <div class="row3-12">
            <h1 class="text text-success">{{content.title}}</h1>
        </div>
       <div class="row2-12">
        <h4 class="text text-danger">{{content.ctgry}}</h4>
       </div>
        <div class="row1-12">
            <h5 class="text ">{{content.desc}}</h5>
        <button class="btn btn-success " routerLink="/blog"><i class="bi bi-arrow-left"></i></button>
        </div>

    </div>


</div>