.navbar{
    border-bottom: 1px solid gray;
    background-color: rgb(250, 175, 187);
}
ul{
    list-style-type: none;
    display: flex;
   gap: 20px;
}
ul li a{
    text-decoration: none;
}
h1,h5{
    text-shadow: 2px 2px rgb(164, 162, 162);
}