<nav class="navbar  ">
    <div class="container-fluid">
      <a class="navbar-brand  text-dark ms-5"><h1>MyBlogs</h1></a>
     <ul class="nav-link ">
        <li class="nav-item">
            <a class="text-dark" routerLink=""><h5>Home</h5></a>
        </li>
        <li class="nav-item">
            <a  class="text-dark"  routerLink="/blog" ><h5>Blogs</h5></a>
        </li>
        <li class="nav-item">
            <a  class="text-dark"  routerLink="/addblog"><h5>New<i class="bi ms-2 bi-journal-plus"></i></h5></a>
        </li>
       </ul>
      <form class="d-flex">
      <button class="btn btn-outline-success" type="submit" (click)="logOut()"><i class="bi bi-lock-fill">LogOut</i></button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
  